body { 

    font-family: Arial, sans-serif;
    margin: 0;
    /* display: flex; */
    display:contents;
  }

  a{
    color: black;
    text-decoration: none;
  }

  p{
    font-size: 20px;
  }

  ul{
    list-style: none;
  }

  .chat-box { 
    border: 1px solid #ccc; 
    padding: 10px;
    width: 50%;
    margin: 50px auto;

  }

  .message { margin: 10px 0; }

  .user { text-align: right; color: black; }

  .bot { text-align: left; color: black; }

  .content .askForm{
    
    position: absolute;
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 50%;
    margin: 20px auto;
    border-radius: 25px;
    left: 10%;
    right: 10%;
    bottom: 0;
    background-color: white;

  }

  #ask_btn{
    float: right;
  }

  .editable {
    min-height: 40px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    outline: none;
    border-radius: 5px;
    background-color: white;
  }

  .mPlaceholder {
      color: #aaa;
  }


  .show{
    display: block;
  }
  
  .hide{
    display: none;
  }