<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom</title>


    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="../static/CSS/base.css">
    <link rel="stylesheet" href="../static/CSS/welcom.css">

</head>
<body>

    <header id="header"></header>

    <main>
        <div class="content">
            <div class="content_backImg">
                <video autoplay muted loop playsinline>
                    <source src="/videos/17926-286994407_small(DeepLeaning).mp4" type="video/mp4">
                </video>
                <div class="content_center centerPos">
                    <div class="bicFont">
                        <p>무한한 가능성을 여는</p>
                        <p>새로운 대화의 시작</p>
                        <p>Amolla</p>
                        <div class="link_start_wrap">
                            <a href="/noticeBoard" class="link_start">
                                시작하기
                                <div class="link_start_gif">
                                    <svg width="27" height="18" viewBox="0 0 27 18" fill="none" class="injected-svg"  role="img">
                                        <path d="M17.5194 2L24.5 8.99919L17.5194 16M23.5733 8.77683H2.5" stroke="white" stroke-width="2.5" stroke-linecap="square"></path>  
                                    </svg>
                                </div>
                            </a>                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="content">
            <div class="content_center align_left_content">
                <div class="content_top">
                    <p class="">
                        대화형 Ai 서비스
                    </p>
                    <p class="">
                        당신이 상상하던 모든것, <br>
                        Amolla와 함께<br>
                        대화해 보세요.<br>
                    </p>
                    <p class="content_small_text">
                        당신의 상상력이 Amolla의 창의력을 만날 때,<br>
                        무한한 가능성의 세상이 펼쳐집니다. <br>
                        어떤 주제든 풍부하게 대화를 나눌 수 있는<br> 
                        새로운 차원의 탐색 서비스를 경험하세요.<br>
                    </p>
                </div>          
                <div class="right_video">
                    <video               
                        src="/videos/0_Technology_Circuit Board_1920x1080.mp4"
                        alt="" id="right_content_backimg" 
                        class="right_content_backimg" 
                        autoplay muted loop>
                    </video>
                </div>
            </div>

        </div>
        <div class="content">
            <div class="content_center">
                <div class="content_top">
                    <p class="">유용한 기능</p>
                    <p class="">창의성 넘치는 대화속에, 높아지는 생산성</p>
                </div>
                <div class="content_main_container">
                    <div class="content_item">
                        <div class="content_item_child">
                            <img src="../static/image/ai-generated-8775742_1920.png" alt="" width="300px">
                            <p class="content_item_title">에이전트</p>
                            <p class="content_item_text">
                                업로드한 문서나 이미지 속 정보를 이해하여 대화할 수 있고, 
                                보다 강화된 탐색 기능을 제공합니다. 
                                원하는 에이전트를 선택해, 보다 전문적이고 생산성 높은 대화를 해보세요.
                            </p>
                            <p class="content_item_text">
                                지속적으로 업데이트 할 예정입니다.
                            </p>
                        </div>
                    </div>

                    <div class="content_item">
                        <div class="content_item_child">
                            <img src="../static/image/free-icon-font-picture-3917415.png" alt="">
                            <p class="content_item_title">이미지 대화</p>
                            <p class="content_item_text">
                                이미지 속 정보를 이해하여 관련 대화를 할 수 있어요.
                            </p>
                        </div>
                    </div>

                    <div class="content_item">
                        <div class="content_item_child">
                            <img src="" alt="">
                            <p class="content_item_title">스킬</p>
                            <p class="content_item_text">
                                대화 주제에 맞춰
                                최적의 답변을 찾아줍니다.
                            </p>
                        </div>
                    </div>

                    <div class="content_item">
                        <div class="content_item_child">
                            <img src="" alt="">
                            <p class="content_item_title">디스커버리</p>
                            <p class="content_item_text">
                                대화 주제에 맞춰
                                기억하고 싶은 대화는 저장해
                                나만의 정보로 만들어 보세요.
                            </p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>


        <div class="content">
            <div class="content_center">
                <div class="content_top">
                    <p class=""></p>
                    <p class="">자주묻는 질문</p>
                </div>
                <div class="">
                    <ul>
                        <li class="folding_Item">
                            <details>
                                <summary><strong>Amolla란 무엇인가요?</strong></summary>
                                <p>
                                    Amolla X는 네이버의 초대규모(Hyperscale) 언어모델인 HyperAmolla X 기술을 바탕으로 만들어진 대화형 에이전트입니다. 사용자에게 도움이 되는 정보를 제공하며, 다양한 요청을 수행할 수 있습니다.

                                    네이버 고유의 기술력과 방대한 데이터를 기반으로, 네이버 AI 윤리 준칙을 준수하여 만들어진 Amolla X는 사용자와 대화하며 상호작용할 수 있는 새로운 차원의 대화형 AI 서비스입니다. (네이버 AI 윤리 준칙 관련한 자세한 정보는 '사람을 위한 Amolla X 활용 가이드'를 참고하시길 바랍니다.)
                                    
                                    Amolla X는 사용자의 생산성 향상을 도울 수 있고, 창조적 발상에 기여하며, 새로운 탐색 사용성도 제공하고 있습니다. 대표적으로 아래와 같은 대화가 가능합니다.
                                </p>

                                <strong>일반적인 질문</strong>
                                <p>검색으로 쉽게 찾을 수 없는 궁금한 내용을 Amolla X가 빠르게 답변해 드립니다.</p>
                                
                                <strong> 계획 일정표 작성</strong>
                                <p>여행을 계획 중이신가요? 고민되는 여행 일정표 작성을 Amolla X가 도와드릴 수 있습니다.</p> 
                                
                                <strong> 면접하기</strong>
                                <p> 입학, 취업, 또는 이직을 앞두고 면접을 준비 중이라면, Amolla X와 모의 면접을 해보세요. 면접관이 되어, 상황에 맞는 질문을 해드릴 수 있습니다.</p> 
                                
                                <strong>상품 비교하기</strong> 
                                <p> 여러 개의 상품을 비교하여 각 상품의 장/단점, 차이점을 확인할 수 있습니다. (Amolla X는 일부 상품에 대해 편향된 의견을 제시하지 않습니다.)</p> 
                                
                                <strong>일상 대화하기</strong> 
                                <p>Amolla X와 일상적인 이야기부터 고민 상담까지 편하게 대화해 보세요. 재미와 위트, 그리고 공감이 더해진 대화를 나눌 수 있습니다.</p> 
                                
                                <p> Amolla X와 즐겁게 이야기 나눠보세요. 항상 사용자 여러분 곁에 있겠습니다.</p> 

                            </details>
                        </li>
                        <li class="folding_Item">
                            <details>
                                <summary><strong>Amolla란 무엇인가요?</strong></summary>
                                <p>
                                    Amolla X는 네이버의 초대규모(Hyperscale) 언어모델인 HyperAmolla X 기술을 바탕으로 만들어진 대화형 에이전트입니다. 사용자에게 도움이 되는 정보를 제공하며, 다양한 요청을 수행할 수 있습니다.

                                    네이버 고유의 기술력과 방대한 데이터를 기반으로, 네이버 AI 윤리 준칙을 준수하여 만들어진 Amolla X는 사용자와 대화하며 상호작용할 수 있는 새로운 차원의 대화형 AI 서비스입니다. (네이버 AI 윤리 준칙 관련한 자세한 정보는 '사람을 위한 Amolla X 활용 가이드'를 참고하시길 바랍니다.)
                                    
                                    Amolla X는 사용자의 생산성 향상을 도울 수 있고, 창조적 발상에 기여하며, 새로운 탐색 사용성도 제공하고 있습니다. 대표적으로 아래와 같은 대화가 가능합니다.
                                </p>

                                <strong>일반적인 질문</strong>
                                <p>검색으로 쉽게 찾을 수 없는 궁금한 내용을 Amolla X가 빠르게 답변해 드립니다.</p>
                                
                                <strong> 계획 일정표 작성</strong>
                                <p>여행을 계획 중이신가요? 고민되는 여행 일정표 작성을 Amolla X가 도와드릴 수 있습니다.</p> 
                                
                                <strong> 면접하기</strong>
                                <p> 입학, 취업, 또는 이직을 앞두고 면접을 준비 중이라면, Amolla X와 모의 면접을 해보세요. 면접관이 되어, 상황에 맞는 질문을 해드릴 수 있습니다.</p> 
                                
                                <strong>상품 비교하기</strong> 
                                <p> 여러 개의 상품을 비교하여 각 상품의 장/단점, 차이점을 확인할 수 있습니다. (Amolla X는 일부 상품에 대해 편향된 의견을 제시하지 않습니다.)</p> 
                                
                                <strong>일상 대화하기</strong> 
                                <p>Amolla X와 일상적인 이야기부터 고민 상담까지 편하게 대화해 보세요. 재미와 위트, 그리고 공감이 더해진 대화를 나눌 수 있습니다.</p> 
                                
                                <p> Amolla X와 즐겁게 이야기 나눠보세요. 항상 사용자 여러분 곁에 있겠습니다.</p> 

                            </details>
                        </li>
                        <li class="folding_Item">
                            <details>
                                <summary><strong>Amolla란 무엇인가요? </strong></summary>
                                <p>
                                    Amolla X는 네이버의 초대규모(Hyperscale) 언어모델인 HyperAmolla X 기술을 바탕으로 만들어진 대화형 에이전트입니다. 사용자에게 도움이 되는 정보를 제공하며, 다양한 요청을 수행할 수 있습니다.

                                    네이버 고유의 기술력과 방대한 데이터를 기반으로, 네이버 AI 윤리 준칙을 준수하여 만들어진 Amolla X는 사용자와 대화하며 상호작용할 수 있는 새로운 차원의 대화형 AI 서비스입니다. (네이버 AI 윤리 준칙 관련한 자세한 정보는 '사람을 위한 Amolla X 활용 가이드'를 참고하시길 바랍니다.)
                                    
                                    Amolla X는 사용자의 생산성 향상을 도울 수 있고, 창조적 발상에 기여하며, 새로운 탐색 사용성도 제공하고 있습니다. 대표적으로 아래와 같은 대화가 가능합니다.
                                </p>

                                <strong>일반적인 질문</strong>
                                <p>검색으로 쉽게 찾을 수 없는 궁금한 내용을 Amolla X가 빠르게 답변해 드립니다.</p>
                                
                                <strong> 계획 일정표 작성</strong>
                                <p>여행을 계획 중이신가요? 고민되는 여행 일정표 작성을 Amolla X가 도와드릴 수 있습니다.</p> 
                                
                                <strong> 면접하기</strong>
                                <p> 입학, 취업, 또는 이직을 앞두고 면접을 준비 중이라면, Amolla X와 모의 면접을 해보세요. 면접관이 되어, 상황에 맞는 질문을 해드릴 수 있습니다.</p> 
                                
                                <strong>상품 비교하기</strong> 
                                <p> 여러 개의 상품을 비교하여 각 상품의 장/단점, 차이점을 확인할 수 있습니다. (Amolla X는 일부 상품에 대해 편향된 의견을 제시하지 않습니다.)</p> 
                                
                                <strong>일상 대화하기</strong> 
                                <p>Amolla X와 일상적인 이야기부터 고민 상담까지 편하게 대화해 보세요. 재미와 위트, 그리고 공감이 더해진 대화를 나눌 수 있습니다.</p> 
                                
                                <p> Amolla X와 즐겁게 이야기 나눠보세요. 항상 사용자 여러분 곁에 있겠습니다.</p> 

                            </details>
                        </li>
                        <li class="folding_Item">
                            <details>
                                <summary><strong>Amolla란 무엇인가요?</strong></summary>
                                <p>
                                    Amolla X는 네이버의 초대규모(Hyperscale) 언어모델인 HyperAmolla X 기술을 바탕으로 만들어진 대화형 에이전트입니다. 사용자에게 도움이 되는 정보를 제공하며, 다양한 요청을 수행할 수 있습니다.

                                    네이버 고유의 기술력과 방대한 데이터를 기반으로, 네이버 AI 윤리 준칙을 준수하여 만들어진 Amolla X는 사용자와 대화하며 상호작용할 수 있는 새로운 차원의 대화형 AI 서비스입니다. (네이버 AI 윤리 준칙 관련한 자세한 정보는 '사람을 위한 Amolla X 활용 가이드'를 참고하시길 바랍니다.)
                                    
                                    Amolla X는 사용자의 생산성 향상을 도울 수 있고, 창조적 발상에 기여하며, 새로운 탐색 사용성도 제공하고 있습니다. 대표적으로 아래와 같은 대화가 가능합니다.
                                </p>

                                <strong>일반적인 질문</strong>
                                <p>검색으로 쉽게 찾을 수 없는 궁금한 내용을 Amolla X가 빠르게 답변해 드립니다.</p>
                                
                                <strong> 계획 일정표 작성</strong>
                                <p>여행을 계획 중이신가요? 고민되는 여행 일정표 작성을 Amolla X가 도와드릴 수 있습니다.</p> 
                                
                                <strong> 면접하기</strong>
                                <p> 입학, 취업, 또는 이직을 앞두고 면접을 준비 중이라면, Amolla X와 모의 면접을 해보세요. 면접관이 되어, 상황에 맞는 질문을 해드릴 수 있습니다.</p> 
                                
                                <strong>상품 비교하기</strong> 
                                <p> 여러 개의 상품을 비교하여 각 상품의 장/단점, 차이점을 확인할 수 있습니다. (Amolla X는 일부 상품에 대해 편향된 의견을 제시하지 않습니다.)</p> 
                                
                                <strong>일상 대화하기</strong> 
                                <p>Amolla X와 일상적인 이야기부터 고민 상담까지 편하게 대화해 보세요. 재미와 위트, 그리고 공감이 더해진 대화를 나눌 수 있습니다.</p> 
                                
                                <p> Amolla X와 즐겁게 이야기 나눠보세요. 항상 사용자 여러분 곁에 있겠습니다.</p> 

                            </details>
                        </li>
                    </ul>
                
                </div>
            </div>
        </div>


    </main>
    <footer id="footer"></footer>
    <!-- 부트 스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
crossorigin="anonymous">
    </script>

<script src="/static/JS/include.js"></script>

</body>
</html>