<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--css와 js 파일 불러옴-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/loginCSS.css') }}">
    <!--defer : 페이지를 다 읽고 스크립트 불러옴-->
    <script defer src="{{ url_for('static', filename='JS/loginJS.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>로그인 페이지</title>
</head>
<body>
  
    <h2> </h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form>
      <!--회원가입-->
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><b>f</b> <i class="fab fa-facebook-f"></i></a>
        <a href="/login_Google" class="social"><b>G+</b><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><b>in</b><i class="fab fa-linkedin-in"></i></a>
        <a href="/" class="social"><b>home</b><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" id="inputName" />
      <input type="email" placeholder="Email" id="inputEmail"/>
      <input type="password" placeholder="Password" id="inputPw" />

      <button type="button" id="registerbtn">Sign Up</button>
    </form>
  </div>

  


  <!------------------------------------------------------------------------------>

  <div class="form-container sign-in-container">
    <form>
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><b>f</b><i class="fab fa-facebook-f"></i></a>
        <a href="/login_Google" class="social"><b>G+</b><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><b>in</b><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email" id="loginEmail" />
      <input type="password" placeholder="Password" id="loginPw" />
      <a href="#">Forgot your password?</a>
      <button type="button" id="loginbtn">Sign In</button>
    </form>
  </div>


  <!--로그인 스크립트-->
    <script>
      
      
    </script>

<!------------------------------------------------------------------------------>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
</body>




</html>