<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--css와 js 파일 불러옴-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/loginCSS.css') }}">
    <script defer src="{{ url_for('static', filename='JS/loginJS.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>로그인 페이지</title>
</head>
<body>
  
    <h2> </h2>
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form>
      <!--회원가입-->
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><b>f</b> <i class="fab fa-facebook-f"></i></a>
        <a href="/login_Google" class="social"><b>G+</b><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><b>in</b><i class="fab fa-linkedin-in"></i></a>
        <a href="/" class="social"><b>home</b><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" id="inputName" />
      <input type="email" placeholder="Email" id="inputEmail"/>
      <input type="password" placeholder="Password" id="inputPw" />

      <button type="button" id="registerbtn">Sign Up</button>
    </form>
  </div>

  <!--회원가입 스크립트-->
    <script>
      document.getElementById("registerbtn").onclick = async function sendRegister(){
        const inputName = document.getElementById('inputName').value;
        const inputEmail = document.getElementById('inputEmail').value;
        const inputPw = document.getElementById('inputPw').value;
          
        try {
          
          const response = await fetch('/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ inputName: inputName, inputEmail:inputEmail, inputPw: inputPw }),
          });

          const data = await response.json();
          
          if (data.status == "success") {
            
          window.location.href = data.redirect;  // 페이지 이동
          }else
          {
            alert("data.status값 못받음");
          }
        } catch (error) {
          console.error('Error:', error);
        }

      return false;  // 폼 새로고침 방지
      }

    </script>


  <!------------------------------------------------------------------------------>

  <div class="form-container sign-in-container">
    <form>
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><b>f</b><i class="fab fa-facebook-f"></i></a>
        <a href="/login_Google" class="social"><b>G+</b><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><b>in</b><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input type="email" placeholder="Email" id="loginEmail" />
      <input type="password" placeholder="Password" id="loginPw" />
      <a href="#">Forgot your password?</a>
      <button type="button" id="loginbtn">Sign In</button>
    </form>
  </div>


  <!--로그인 스크립트-->
    <script>
      
      //async function sendLogin(){
      document.getElementById('loginbtn').onclick = async function sendLogin(){
          
          const inputEmail = document.getElementById('loginEmail').value;
          const inputPw = document.getElementById('loginPw').value;
          
          try {
            /*response 변수에는 fetch 요청의 최종 결과 객체가 저장되지만, 
            이 객체는 .json() 메서드를 호출하기 전의 Response 객체 상태입니다. 
            따라서, response에는 JSON 파싱된 데이터가 아니라 Response 객체 자체가 저장됩니다.*/
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json'
                },
                credentials: 'include',  // 세션 유지 (Flask의 session 사용 시 필수!)
                body: JSON.stringify({ inputEmail: inputEmail, inputPw: inputPw }),
            });

            const contentType = response.headers.get("content-type");
            if (!contentType || !contentType.includes("application/json")) {
                  throw new Error("서버 응답이 JSON이 아닙니다.");
            }
            
            if (!response.ok) {
            console.error(`❌ 서버 오류: ${response.status}`);
            return;
            }
            else{
              const data = await response.json();
              console.log("📌 응답 JSON 데이터:", data);

              if (data.status == "success") {
                
              window.location.href = data.redirect;  // 페이지 이동

              }

            }
        } catch (error) {
            console.error('Error:', error);
            alert(error);
        }
        
         // 폼 새로고침 방지
         return false;
      }
    </script>

<!------------------------------------------------------------------------------>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
</body>




</html>